@import "userprofile.css";
@import "newpost.css";
@import "explore.css";
@import "registration.css";
@import "login.css";
@import "home.css";
.maindiv {
    /* display: grid;
    grid-column-gap: 25px; */
    margin-top: 20%;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 55%;
}


/* #navbarSupportedContent {
    justify-items: end;
} */


/* #navbar_img {
    justify-content: flex-start;
}

.navSupportContent {
    justify-content: flex-end;
} */

body {
    background-color: rgb(245, 239, 230);
}

.new {
    margin-left: 30%;
}