.newpost_div {
    border: 1px solid grey;
    background-color: rgb(255, 255, 255);
    padding: 5%;
    width: 50%;
    height: 40%;
    display: inline-block;
}

.maindiv.new {
    margin-bottom: 15%;
}

.newp_maindiv {
    margin-top: 12%;
    /* text-align: center; */
}

.postsubmit_button button {
    background-color: rgb(126, 211, 33);
    width: 80%;
}

.newpost_word {
    font-weight: bold;
    font-size: x-large;
    margin-top: 20%;
}

.newpost_div label {
    font-weight: bold;
    color: black;
    text-align: left;
}

.newpost {
    text-align: center;
}

.label {
    text-align: left;
}