.userprofilediv {
    margin-top: 8%;
}

#userheader {
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 4fr 2fr;
    border: solid 1px rgb(185, 184, 184);
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 25px;
    background-color: white;
    border-radius: 5px;
}

#middle ul {
    list-style: none;
}

#locationli {
    margin-top: 10%;
}

#biographyli {
    margin-top: 5%;
}

.profilephoto {
    width: 200px;
    height: 190px;
}

#followers {
    /* align-self: center; */
    margin-left: 15%;
}

#row1 {
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr;
}

#row1 ul {
    list-style: none;
}

.image__list {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 3%;
    overflow: hidden;
}

.image__list img {
    /* border-right: 5px;
    border-left:10px; */
    width: 340px;
    height: 250px;
}

.image__list li {
    /* border: 1px solid rgb(211, 211, 211); */
}

#gallery {
    margin-top: 7%;
}

#followbtn {
    width: 100%;
    background-color: rgb(74, 144, 226);
}

#row1 li {
    text-align: center;
    color: grey;
    font-weight: bold;
}

#row1 .post_num {
    color: black;
    font-weight: bold;
    font-size: x-large;
}

#row1 .followers_num {
    color: black;
    font-weight: bold;
    font-size: x-large;
}

.follow_button {
    padding-top: 25%;
    /* margin: 3%; */
}

#firstname {
    font-weight: bold;
    font-size: large;
}

#locationli {
    color: grey;
    margin-top: 5%;
}

#middle li {
    color: grey;
}

#middle ul .firstname {
    color: black;
}